@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300..700&family=Dosis:wght@200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --bgColour: #1d1d1d;
    --textColour: white;

    /* Header */
    --headerBG: rgb(1, 1, 1);

    /* Footer */
    --footerBG: rgb(1, 1, 1);

    /* Input Panel */
    --buttonBG: rgb(61, 61, 61);
    --textFieldBG: rgb(12, 12, 12);

    /* Tables */
    --tableHeaderBG: rgb(41, 41, 41);
    --tableBorder: rgb(255, 255, 255);
    --tableDimLine: rgba(255, 255, 255, 0.103);
}

* {
    padding: 0;
    margin: 0;
    text-align: center;
    box-sizing: border-box;
    background-color: var(--bgColour);
    color: var(--textColour);
}

body {
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

.header, .footer {
    left: 0;
    padding: 1.25vh 10vw;
    width: 100%;
}

.header {
    font-family: "Bebas Neue", serif;
    font-size: large;
    top: 0;
    flex-wrap: nowrap;
    background-color: var(--headerBG);
}

.header h1 {
    background-color: inherit;
}

.footer {
    font-family: "Comfortaa", serif;
    padding: 2.5vh 1.25vw;
    position: fixed;
    bottom: 0;
    background-color: var(--footerBG);
}

.content {
    font-family: "Comfortaa", serif;
    padding: 1% 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.inputsSection {
    padding: 2%;
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    gap: 2vh;
    background-color: var(--textFieldBG);
    justify-content: center;
    align-items: center;
    align-content: center;
}

.inputsSection div, h3, p {
    background-color: inherit;
}

.outputsSection {
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    flex-basis: 75%;
}

.teams {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 2vw;
}

#randomTeamsBtn {
    width: 50%;
    background-color: var(--buttonBG);
}

textarea, input {
    background-color: black;
    width: 15vw;
    padding: 2.5%;
    text-align: left;
}

table, th, td {
    padding: 1vh;
    width: 15vw;
    border: 1px solid var(--tableBorder);
    border-collapse: collapse;
}

td {
    font-weight: 400;
    font-size: small;
}

th {
    font-weight: 700;
    font-size: large;
    background-color: var(--tableHeaderBG);
}